PORT=3977
NODE_ENV=development

MONGO_URI=mongodb://127.0.0.1:27017/clinica_bot_logs_db

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=clinica_bot_db
POSTGRES_USER=clinica_user
POSTGRES_PASSWORD=your_postgres_password

DB_SYNC_ALTER=true
DB_SYNC_FORCE=false
SEED_SECURITY=true
SEED_SCHEDULING=true
SEED_CLINIC=true
SEED_MEDICALCARE=true

JWT_ACCESS_SECRET=change_access_secret
JWT_REFRESH_SECRET=change_refresh_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

WEBHOOK_SERVICE_TOKEN=change_internal_webhook_token